<footer class="ts-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 block">
                <p class="h4">TanySher</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt.</p>
                <ul class="navbar-nav">
                    <li>
                        <a href="#" class="hover-effect">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="separator">
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="separator">
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="separator">
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 block">
                <p class="h4">Contact</p>
                <p>
                    <a href="#">str. Milescu Spătaru 9/1, Chișinău</a>
                </p>
                <p>
                    <a href="#">tanysher@gmail.com</a>
                </p>
                <p>
                    <a href="#">212-308-3838</a>
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 block">
                <p class="h4">Info</p>
                <p>
                    <span class="l-info">Zile lucrătoare</span><span class="r-info">9AM - 9PM</span><br>
                    <span class="l-info">Sâmbătă</span><span class="r-info">10AM - 8PM</span><br>
                    <span class="l-info">Duminică</span><span class="r-info">Închis</span>
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 block">
                <p class="h4">Maps</p>
                <img src="@Url.Content("~/assets/img/maps.png")" alt="Maps">
            </div>
        </div>
    </div>
</footer>
