<header class="ts-header">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">TanySher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ts-navbar" aria-controls="ts-navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="ts-navbar">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")"><span class="before-effect">Acasă</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="before-effect">Features</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="before-effect">Pricing</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="before-effect">Dropdown</span></a>
                    <div class="dropdown-menu dropdown-secondary">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <sup>0</sup>
                    </a>
                </li>
                <li class="nav-item separator">
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item separator">
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary">
                        <a class="dropdown-item" href="../MINTON-Full_Version/HTML/Horizontal/dark/dist/index.html">Admin</a>
                        <a class="dropdown-item" href="/login">Autentificare</a>
                        <a class="dropdown-item" href="/register">Înregistrare</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Home")">Ieșire</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
