$base-color: #c59d5f;

.tanysher-container {
	.ts-header {
		.navbar {
			.navbar-toggler {
				.fa-bars {
					color: #000;
					font-size: 25px;
				}
			}

			&.secondary-color {
				background-color: transparent;

				&.scroll {
					@media only screen and (min-width: 992px) {
						background-color: #000;
					}
				}

				@media only screen and (max-width: 992px) {
					border-bottom: 1px solid #afaaa9;
					background-color: #fff;
				}
			}

			.text-uppercase {
				letter-spacing: 3px;
			}

			.nav-item {
				&.avatar {
					.fa-user-circle-o {
						font-size: 35px;
					}
				}

				.nav-link {
					color: #fff;
					i {
						font-size: 16px;
					}

					@media only screen and (max-width: 992px) {
						color: #000;
					}

					.fab {
						svg {
							fill: #fff;

							@media only screen and (max-width: 992px) {
								fill: #000;
							}
						}
					}
				}

				.nav-link, .dropdown-item {
					-webkit-transition: .35s;
					transition: .35s;
					cursor: pointer;
					display: block;
					font-size: 12px;

					.before-effect {
						position: relative;

						&::before {
							background-color: #fff;
							top: 120%;
							content: "";
							height: 1px;
							left: 0;
							position: absolute;
							width: 100%;
							transform-origin: left;
							-webkit-transform: scale(0,1);
							-moz-transform: scale(0,1);
							transform: scale(0,1);
							-webkit-transition: -webkit-transform .1s ease-out 0s;
							-moz-transition: -moz-transform .1s ease-out 0s;
							transition: transform .1s ease-out 0s;

							@media only screen and (max-width: 992px) {
								background-color: #000;
							}
						}
					}

					&:hover {
						.before-effect {
							&::before {
								-webkit-transform: scale(1,1);
								-moz-transform: scale(1,1);
								transform: scale(1,1);
								-webkit-transition: -webkit-transform .2s ease-out .1s;
								-moz-transition: -moz-transform .2s ease-out .1s;
								transition: transform .2s ease-out .1s;
							}
						}
					}
				}

				.dropdown-menu {
					background-color: #000;

					.dropdown-item {
						padding: 10px 50px;
						font-size: 11px;

						&:hover, &:active {
							color: #fff;
							background-color: #000;
						}

						.icon {
							font-size: 15px;
							padding-right: 5px;
							color: $base-color;
						}

						&.shadow-effect {
							&:hover {
								box-shadow: inset 20px 0 20px -10px rgba(255,255,255,0.4);
								-moz-box-shadow: inset 20px 0 20px -10px rgba(255,255,255,0.4);
								-webkit-box-shadow: inset 20px 0 20px -10px rgba(255,255,255,0.4);
							}
						}
					}
				}

				.separator {
					&.bg-white {
						@media only screen and (max-width: 992px) {
							background-color: #000 !important;
						}
					}
				}
			}

			@media only screen and (max-width: 992px) {
				.navbar-brand {
					color: #000;
					text-indent: -32px;
				}

				.navbar-toggler-icon {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
				}
			}
		}
	}
}

