.tanysher-container .ts-header .navbar .navbar-toggler .fa-bars {
    color: #000;
    font-size: 25px;
}

.tanysher-container .ts-header .navbar.secondary-color {
    background-color: transparent;
}

@media only screen and (min-width: 992px) {
    .tanysher-container .ts-header .navbar.secondary-color.scroll {
        background-color: #000;
    }
}

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar.secondary-color {
        border-bottom: 1px solid #afaaa9;
        background-color: #fff;
    }
}

.tanysher-container .ts-header .navbar .text-uppercase {
    letter-spacing: 3px;
}

.tanysher-container .ts-header .navbar .nav-item.avatar .fa-user-circle-o {
    font-size: 35px;
}

.tanysher-container .ts-header .navbar .nav-item .nav-link {
    color: #fff;
}

    .tanysher-container .ts-header .navbar .nav-item .nav-link i {
        font-size: 16px;
    }

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar .nav-item .nav-link {
        color: #000;
    }
}

.tanysher-container .ts-header .navbar .nav-item .nav-link .fab svg {
    fill: #fff;
}

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar .nav-item .nav-link .fab svg {
        fill: #000;
    }
}

.tanysher-container .ts-header .navbar .nav-item .nav-link, .tanysher-container .ts-header .navbar .nav-item .dropdown-item {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    cursor: pointer;
    display: block;
    font-size: 12px;
}

    .tanysher-container .ts-header .navbar .nav-item .nav-link .before-effect, .tanysher-container .ts-header .navbar .nav-item .dropdown-item .before-effect {
        position: relative;
    }

        .tanysher-container .ts-header .navbar .nav-item .nav-link .before-effect::before, .tanysher-container .ts-header .navbar .nav-item .dropdown-item .before-effect::before {
            background-color: #fff;
            top: 120%;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
            transform-origin: left;
            -webkit-transform: scale(0, 1);
            -moz-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transition: -webkit-transform 0.1s ease-out 0s;
            -moz-transition: -moz-transform 0.1s ease-out 0s;
            transition: transform 0.1s ease-out 0s;
        }

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar .nav-item .nav-link .before-effect::before, .tanysher-container .ts-header .navbar .nav-item .dropdown-item .before-effect::before {
        background-color: #000;
    }
}

.tanysher-container .ts-header .navbar .nav-item .nav-link:hover .before-effect::before, .tanysher-container .ts-header .navbar .nav-item .dropdown-item:hover .before-effect::before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
    -moz-transition: -moz-transform 0.2s ease-out 0.1s;
    transition: transform 0.2s ease-out 0.1s;
}

.tanysher-container .ts-header .navbar .nav-item .dropdown-menu {
    background-color: #000;
}

    .tanysher-container .ts-header .navbar .nav-item .dropdown-menu .dropdown-item {
        padding: 10px 50px;
        font-size: 11px;
    }

        .tanysher-container .ts-header .navbar .nav-item .dropdown-menu .dropdown-item:hover, .tanysher-container .ts-header .navbar .nav-item .dropdown-menu .dropdown-item:active {
            color: #fff;
            background-color: #000;
        }

        .tanysher-container .ts-header .navbar .nav-item .dropdown-menu .dropdown-item .icon {
            font-size: 15px;
            padding-right: 5px;
            color: #c59d5f;
        }

        .tanysher-container .ts-header .navbar .nav-item .dropdown-menu .dropdown-item.shadow-effect:hover {
            box-shadow: inset 20px 0 20px -10px rgba(255, 255, 255, 0.4);
            -moz-box-shadow: inset 20px 0 20px -10px rgba(255, 255, 255, 0.4);
            -webkit-box-shadow: inset 20px 0 20px -10px rgba(255, 255, 255, 0.4);
        }

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar .nav-item .separator.bg-white {
        background-color: #000 !important;
    }
}

@media only screen and (max-width: 992px) {
    .tanysher-container .ts-header .navbar .navbar-brand {
        color: #000;
        text-indent: -32px;
    }

    .tanysher-container .ts-header .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}
