@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

::selection {
    background-color: #c59d5f;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

.tanysher-container {
    font-family: Montserrat, sans-serif;
}

    .tanysher-container .separator {
        width: 1px;
        height: 20px;
        background-color: #fff;
        margin: 0 12px;
    }

    .tanysher-container button:focus {
        outline: none;
    }

    .tanysher-container a {
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
        color: #fff;
    }

        .tanysher-container a:hover {
            text-decoration: none;
        }
